In [35]:
import pymongo

In [36]:
from pymongo import MongoClient

In [26]:
client = MongoClient('mongodb://localhost:27017/')
db = client.metflix
movies = db.movies
print('connexion success')

connexion success

In [37]:
movies.find_one()

{'_id': 'tt0075148', 'title': 'Rocky', 'year': 1976}

In [38]:
client.drop_database('metflix')
mydb = client["metflix"]
mycolection = mydb["movies"]

mycolection.insert_many ([
    { "_id" : "tt0075148", "title": "Rocky", "year": 1976 } ,
    { "title" : "Jaws", "year" : 1975, "imdb": "tt0073195" } ,
    { "title" : "Mad Max 2 : The Road Warrior", "year" : 1981, "imdb": "tt0082694" } ,
    { "title" : "Raiders of the Lost Ark", "year": 1981, "imdb": "tt0082971" } 
])

In [39]:
for item in movies.find():
    print(item)

{'_id': 'tt0075148', 'title': 'Rocky', 'year': 1976}
{'_id': ObjectId('60049b5379ec06c18ea6414b'), 'title': 'Jaws', 'year': 1975, 'imdb': 'tt0073195'}
{'_id': ObjectId('60049b5379ec06c18ea6414c'), 'title': 'Mad Max 2 : The Road Warrior', 'year': 1981, 'imdb': 'tt0082694'}
{'_id': ObjectId('60049b5379ec06c18ea6414d'), 'title': 'Raiders of the Lost Ark', 'year': 1981, 'imdb': 'tt0082971'}

In [13]:
client.drop_database('metflix')

In [120]:
mydb = client["metflix"]

In [121]:
mycolection = mydb["movies"]

In [103]:
mydictionnaire = {"title" : "Rocky" , "year" : 1976 }

x = mycolection.insert_one(mydictionnaire)

In [104]:
print(x.inserted_id)

5ffda6004a4cfda62139b1c8

In [122]:
movies.find_one()

In [40]:
from pymongo import MongoClient, errors

import time
# create a timestamp before making API call
start = time.time()
# check the seconds that have elapsed

try:
    client = MongoClient(host = 'mongodb://localhost:27017/', serverSelectionTimeoutMS = 2000)
    client.server_info() # will throw an exception
    print("connection OK")

except:
    print ("connection error")
# print the time difference
    print (time.time() - start)

connection OK

In [41]:
try:
# create new database and collection instances
    db = client.metflix

    col = db["movies"]
    print("collection movies added")

except:
    # should raise AttributeError if mongodb_connect() function returned "None"
    print ("Get MongoDB database and collection ERROR:")



# or evaluate the client object instead

#if client != None:

# create new database and collection instances

#    db = client.metflix

#    col = db["movies"]

#else:

#    print ("Client instance is invalid")

# connect to a MongoDB server that doesn't exist

#client = MongoClient( host = ["DOES_NOT_EXIST"], 
     # timeout is in milliseconds
#     serverSelectionTimeoutMS = 2000 )
#print ("nCreating database and collection form 'bad' client instance")

# create new database and collection instances

collection movies added

In [125]:
                                 #### insert_many: 

mylist = [
  { "title": "Rocky", "year": 1976 , "_id" : "tt0075148"},
  { "title": "Jaws", "year": 1975 , "imdb" : "tt0073195"},
  { "title": "Mad Max 2 : The Road Warrior", "year": 1981 , "imdb" : "tt0082694"},
  { "title": "Raiders of the Lost Ark", "year": 1981 , "imdb" : "tt0082971"}
]

In [126]:
x = movies.insert_many(mylist)

In [133]:
                                ##### find avec des paramètres: 
#afficher tous les documents de la collection movies : 
for item in movies.find():
    print(item)

{'_id': 'tt0075148', 'title': 'Rocky', 'year': 1976}
{'_id': ObjectId('5ffda6874a4cfda62139b1d0'), 'title': 'Jaws', 'year': 1975, 'imdb': 'tt0073195'}
{'_id': ObjectId('5ffda6874a4cfda62139b1d1'), 'title': 'Mad Max 2 : The Road Warrior', 'year': 1981, 'imdb': 'tt0082694'}
{'_id': ObjectId('5ffda6874a4cfda62139b1d2'), 'title': 'Raiders of the Lost Ark', 'year': 1981, 'imdb': 'tt0082971'}

In [134]:
#afficher le 1er document : 
movies.find_one()

{'_id': 'tt0075148', 'title': 'Rocky', 'year': 1976}

In [42]:
#afficher le(s) document(s) ou on trouve les films de 1981 : 
for item in movies.find({ "year" : 1981 }):
    print(item)

{'_id': ObjectId('60049b5379ec06c18ea6414c'), 'title': 'Mad Max 2 : The Road Warrior', 'year': 1981, 'imdb': 'tt0082694'}
{'_id': ObjectId('60049b5379ec06c18ea6414d'), 'title': 'Raiders of the Lost Ark', 'year': 1981, 'imdb': 'tt0082971'}

In [43]:
#afficher le(s) document(s) ou on trouve le film qui porte le titre "Jaws": 
for item in movies.find({ "title" : "Jaws" }):
    print(item)

{'_id': ObjectId('60049b5379ec06c18ea6414b'), 'title': 'Jaws', 'year': 1975, 'imdb': 'tt0073195'}

In [166]:
db = client["movies_artists"]
colection = mydb["movies"]
colection2 = mydb["artists"]
for item in colection.find({},{ "_id": 1, "title": 1}):
    print(item)

{'_id': 'movie:4', 'title': 'Sacrifice'}
{'_id': 'movie:6', 'title': 'Sleepy Hollow'}
{'_id': 'movie:2', 'title': 'Alien'}
{'_id': 'movie:9', 'title': 'Gladiator'}
{'_id': 'movie:10', 'title': 'Blade Runner'}
{'_id': 'movie:11', 'title': 'Piège de cristal'}
{'_id': 'movie:12', 'title': '58 minutes pour vivre'}
{'_id': 'movie:13', 'title': 'Van Gogh'}
{'_id': 'movie:14', 'title': 'Seven'}
{'_id': 'movie:15', 'title': 'Twelve Monkeys'}
{'_id': 'movie:16', 'title': 'Le last_name de la rose'}
{'_id': 'movie:5', 'title': 'Volte/Face'}
{'_id': 'movie:1', 'title': 'Vertigo'}
{'_id': 'movie:19', 'title': 'Terminator'}
{'_id': 'movie:20', 'title': 'Les dents de la mer'}
{'_id': 'movie:21', 'title': 'Le silence des agneaux'}
{'_id': 'movie:17', 'title': 'Pulp fiction'}
{'_id': 'movie:22', 'title': 'Godzilla'}
{'_id': 'movie:23', 'title': 'Matrix'}
{'_id': 'movie:24', 'title': 'Mission: Impossible'}
{'_id': 'movie:25', 'title': 'Kagemusha'}
{'_id': 'movie:8', 'title': 'Impitoyable'}
{'_id': 'movie:7', 'title': 'American Beauty'}
{'_id': 'movie:3', 'title': 'Titanic'}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs'}
{'_id': 'movie:18', 'title': 'Mary à tout prix'}
{'_id': 'movie:27', 'title': 'Le gendarme et les extra-terrestres'}
{'_id': 'movie:28', 'title': 'Le monde perdu'}
{'_id': 'movie:29', 'title': 'Rain Man'}
{'_id': 'movie:30', 'title': 'Top Gun'}
{'_id': 'movie:33', 'title': 'Psychose'}
{'_id': 'movie:31', 'title': 'Les bronzés font du ski'}
{'_id': 'movie:35', 'title': 'Les oiseaux'}
{'_id': 'movie:34', 'title': 'Le retour du Jedi'}
{'_id': 'movie:32', 'title': 'Le bon, la brute et le truand'}
{'_id': 'movie:38', 'title': 'Shining'}
{'_id': 'movie:40', 'title': 'Fenêtre sur cour'}
{'_id': 'movie:37', 'title': 'Eyes Wide Shut'}
{'_id': 'movie:36', 'title': 'Reservoir dogs'}
{'_id': 'movie:39', 'title': 'Pas de printemps pour Marnie'}
{'_id': 'movie:41', 'title': 'La mort aux trousses'}
{'_id': 'movie:42', 'title': "Jeanne d'Arc"}
{'_id': 'movie:44', 'title': 'Léon'}
{'_id': 'movie:43', 'title': 'Le cinquième élément'}
{'_id': 'movie:46', 'title': 'Le grand bleu'}
{'_id': 'movie:48', 'title': 'King of New York'}
{'_id': 'movie:45', 'title': 'Nikita'}
{'_id': 'movie:49', 'title': 'The Matrix reloaded'}
{'_id': 'movie:51', 'title': 'De bruit et de fureur'}
{'_id': 'movie:55', 'title': 'Le parrain II'}
{'_id': 'movie:56', 'title': 'Le parrain III'}
{'_id': 'movie:47', 'title': 'Spider-Man'}
{'_id': 'movie:58', 'title': 'Une journée en enfer'}
{'_id': 'movie:59', 'title': 'Sixième sens'}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions'}
{'_id': 'movie:57', 'title': 'Jackie Brown'}
{'_id': 'movie:60', 'title': 'Lost in Translation'}
{'_id': 'movie:62', 'title': 'Stalingrad'}
{'_id': 'movie:61', 'title': 'Kill Bill'}
{'_id': 'movie:64', 'title': 'Pour quelques dollars de plus'}
{'_id': 'movie:63', 'title': 'Million Dollar Baby'}
{'_id': 'movie:53', 'title': 'Bad Lieutenant'}
{'_id': 'movie:52', 'title': 'Usual suspects'}
{'_id': 'movie:67', 'title': 'Marie Antoinette'}
{'_id': 'movie:54', 'title': 'Le parrain'}
{'_id': 'movie:69', 'title': 'Heat'}
{'_id': 'movie:70', 'title': 'Taxi driver'}
{'_id': 'movie:68', 'title': 'Soleil vert'}
{'_id': 'movie:72', 'title': 'Casino'}
{'_id': 'movie:76', 'title': 'No country for old men'}
{'_id': 'movie:71', 'title': 'Les affranchis'}
{'_id': 'movie:78', 'title': 'Django unchained'}
{'_id': 'movie:73', 'title': 'Casino Royale'}
{'_id': 'movie:74', 'title': 'Skyfall'}
{'_id': 'movie:79', 'title': 'Inglourious Basterds'}
{'_id': 'movie:77', 'title': 'Fargo'}
{'_id': 'movie:80', 'title': 'Inglourious Basterds'}
{'_id': 'movie:81', 'title': 'Les quatre cents coups'}
{'_id': 'movie:85', 'title': 'Interstellar'}
{'_id': 'movie:84', 'title': 'Rio Grande'}
{'_id': 'movie:82', 'title': 'Le dernier métro'}
{'_id': 'movie:87', 'title': 'Memento'}
{'_id': 'movie:89', 'title': 'The Dark Knight'}
{'_id': 'movie:86', 'title': 'Inception'}
{'_id': 'movie:88', 'title': 'Batman begins'}

In [167]:
for item in colection.find({},{ "_id": 1, "title": 1}):
    print(item)

{'_id': 'movie:5', 'title': 'Volte/Face'}
{'_id': 'movie:8', 'title': 'Impitoyable'}
{'_id': 'movie:7', 'title': 'American Beauty'}
{'_id': 'movie:9', 'title': 'Gladiator'}
{'_id': 'movie:10', 'title': 'Blade Runner'}
{'_id': 'movie:2', 'title': 'Alien'}
{'_id': 'movie:12', 'title': '58 minutes pour vivre'}
{'_id': 'movie:11', 'title': 'Piège de cristal'}
{'_id': 'movie:3', 'title': 'Titanic'}
{'_id': 'movie:15', 'title': 'Twelve Monkeys'}
{'_id': 'movie:13', 'title': 'Van Gogh'}
{'_id': 'movie:14', 'title': 'Seven'}
{'_id': 'movie:16', 'title': 'Le last_name de la rose'}
{'_id': 'movie:19', 'title': 'Terminator'}
{'_id': 'movie:6', 'title': 'Sleepy Hollow'}
{'_id': 'movie:20', 'title': 'Les dents de la mer'}
{'_id': 'movie:23', 'title': 'Matrix'}
{'_id': 'movie:25', 'title': 'Kagemusha'}
{'_id': 'movie:18', 'title': 'Mary à tout prix'}
{'_id': 'movie:27', 'title': 'Le gendarme et les extra-terrestres'}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs'}
{'_id': 'movie:22', 'title': 'Godzilla'}
{'_id': 'movie:17', 'title': 'Pulp fiction'}
{'_id': 'movie:28', 'title': 'Le monde perdu'}
{'_id': 'movie:29', 'title': 'Rain Man'}
{'_id': 'movie:1', 'title': 'Vertigo'}
{'_id': 'movie:4', 'title': 'Sacrifice'}
{'_id': 'movie:30', 'title': 'Top Gun'}
{'_id': 'movie:24', 'title': 'Mission: Impossible'}
{'_id': 'movie:32', 'title': 'Le bon, la brute et le truand'}
{'_id': 'movie:31', 'title': 'Les bronzés font du ski'}
{'_id': 'movie:33', 'title': 'Psychose'}
{'_id': 'movie:38', 'title': 'Shining'}
{'_id': 'movie:35', 'title': 'Les oiseaux'}
{'_id': 'movie:37', 'title': 'Eyes Wide Shut'}
{'_id': 'movie:34', 'title': 'Le retour du Jedi'}
{'_id': 'movie:39', 'title': 'Pas de printemps pour Marnie'}
{'_id': 'movie:36', 'title': 'Reservoir dogs'}
{'_id': 'movie:21', 'title': 'Le silence des agneaux'}
{'_id': 'movie:40', 'title': 'Fenêtre sur cour'}
{'_id': 'movie:41', 'title': 'La mort aux trousses'}
{'_id': 'movie:42', 'title': "Jeanne d'Arc"}
{'_id': 'movie:44', 'title': 'Léon'}
{'_id': 'movie:43', 'title': 'Le cinquième élément'}
{'_id': 'movie:46', 'title': 'Le grand bleu'}
{'_id': 'movie:45', 'title': 'Nikita'}
{'_id': 'movie:47', 'title': 'Spider-Man'}
{'_id': 'movie:49', 'title': 'The Matrix reloaded'}
{'_id': 'movie:48', 'title': 'King of New York'}
{'_id': 'movie:53', 'title': 'Bad Lieutenant'}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions'}
{'_id': 'movie:54', 'title': 'Le parrain'}
{'_id': 'movie:51', 'title': 'De bruit et de fureur'}
{'_id': 'movie:52', 'title': 'Usual suspects'}
{'_id': 'movie:57', 'title': 'Jackie Brown'}
{'_id': 'movie:59', 'title': 'Sixième sens'}
{'_id': 'movie:62', 'title': 'Stalingrad'}
{'_id': 'movie:64', 'title': 'Pour quelques dollars de plus'}
{'_id': 'movie:67', 'title': 'Marie Antoinette'}
{'_id': 'movie:69', 'title': 'Heat'}
{'_id': 'movie:68', 'title': 'Soleil vert'}
{'_id': 'movie:70', 'title': 'Taxi driver'}
{'_id': 'movie:61', 'title': 'Kill Bill'}
{'_id': 'movie:71', 'title': 'Les affranchis'}
{'_id': 'movie:73', 'title': 'Casino Royale'}
{'_id': 'movie:58', 'title': 'Une journée en enfer'}
{'_id': 'movie:55', 'title': 'Le parrain II'}
{'_id': 'movie:76', 'title': 'No country for old men'}
{'_id': 'movie:74', 'title': 'Skyfall'}
{'_id': 'movie:72', 'title': 'Casino'}
{'_id': 'movie:77', 'title': 'Fargo'}
{'_id': 'movie:56', 'title': 'Le parrain III'}
{'_id': 'movie:60', 'title': 'Lost in Translation'}
{'_id': 'movie:63', 'title': 'Million Dollar Baby'}
{'_id': 'movie:78', 'title': 'Django unchained'}
{'_id': 'movie:79', 'title': 'Inglourious Basterds'}
{'_id': 'movie:81', 'title': 'Les quatre cents coups'}
{'_id': 'movie:84', 'title': 'Rio Grande'}
{'_id': 'movie:80', 'title': 'Inglourious Basterds'}
{'_id': 'movie:85', 'title': 'Interstellar'}
{'_id': 'movie:82', 'title': 'Le dernier métro'}
{'_id': 'movie:86', 'title': 'Inception'}
{'_id': 'movie:87', 'title': 'Memento'}
{'_id': 'movie:88', 'title': 'Batman begins'}
{'_id': 'movie:89', 'title': 'The Dark Knight'}
{'_id': 'movie:90', 'title': 'The Dark Knight Rises'}
{'_id': 'movie:92', 'title': 'Nous trois ou rien'}
{'_id': 'movie:91', 'title': 'Un prophète'}

In [178]:
request =  colection.find({},{ "_id": 1, "title": 1}).skip(9).limit(12)
for item in request :
    print(item)

{'_id': 'movie:15', 'title': 'Twelve Monkeys'}
{'_id': 'movie:13', 'title': 'Van Gogh'}
{'_id': 'movie:14', 'title': 'Seven'}
{'_id': 'movie:16', 'title': 'Le last_name de la rose'}
{'_id': 'movie:19', 'title': 'Terminator'}
{'_id': 'movie:6', 'title': 'Sleepy Hollow'}
{'_id': 'movie:20', 'title': 'Les dents de la mer'}
{'_id': 'movie:23', 'title': 'Matrix'}
{'_id': 'movie:25', 'title': 'Kagemusha'}
{'_id': 'movie:18', 'title': 'Mary à tout prix'}
{'_id': 'movie:27', 'title': 'Le gendarme et les extra-terrestres'}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs'}

In [183]:
#trier en fonction du titre ascendant : 
request_sort_by_title = colection.find({},{ "_id": 1, "title": 1}).sort("title", 1).skip(9).limit(12)
for item in request_sort_by_title :
    print(item)

{'_id': 'movie:78', 'title': 'Django unchained'}
{'_id': 'movie:37', 'title': 'Eyes Wide Shut'}
{'_id': 'movie:77', 'title': 'Fargo'}
{'_id': 'movie:40', 'title': 'Fenêtre sur cour'}
{'_id': 'movie:9', 'title': 'Gladiator'}
{'_id': 'movie:22', 'title': 'Godzilla'}
{'_id': 'movie:69', 'title': 'Heat'}
{'_id': 'movie:8', 'title': 'Impitoyable'}
{'_id': 'movie:86', 'title': 'Inception'}
{'_id': 'movie:80', 'title': 'Inglourious Basterds'}
{'_id': 'movie:79', 'title': 'Inglourious Basterds'}
{'_id': 'movie:85', 'title': 'Interstellar'}

In [184]:
#trier en fonction du titre descendant : 
request_sort_by_title = colection.find({},{ "_id": 1, "title": 1}).sort("title", -1).skip(9).limit(12)
for item in request_sort_by_title :
    print(item)

{'_id': 'movie:49', 'title': 'The Matrix reloaded'}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions'}
{'_id': 'movie:90', 'title': 'The Dark Knight Rises'}
{'_id': 'movie:89', 'title': 'The Dark Knight'}
{'_id': 'movie:19', 'title': 'Terminator'}
{'_id': 'movie:70', 'title': 'Taxi driver'}
{'_id': 'movie:62', 'title': 'Stalingrad'}
{'_id': 'movie:47', 'title': 'Spider-Man'}
{'_id': 'movie:68', 'title': 'Soleil vert'}
{'_id': 'movie:6', 'title': 'Sleepy Hollow'}
{'_id': 'movie:74', 'title': 'Skyfall'}
{'_id': 'movie:59', 'title': 'Sixième sens'}

In [187]:
colection.find_one({"_id":"movie:2"}, {"title" : 1, "genre" : 1, "summary" : 1 })

{'_id': 'movie:2',
 'title': 'Alien',
 'genre': 'Science-fiction',
 'summary': 'Près d\'un vaisseau spatial échoué sur une lointaine planète, des Terriens en mission découvrent de bien étranges "oeufs". Ils en ramènent un à bord, ignorant qu\'ils viennent d\'introduire parmi eux un huitième passager particulièrement féroce et meurtrier. '}

In [190]:
request_movies_1979 = colection.find({"year" : 1979},{"title": 1, "actors":1})
for item in request_movies_1979 :
    print(item)

{'_id': 'movie:2', 'title': 'Alien', 'actors': [{'_id': 'artist:5', 'role': 'Ripley'}]}
{'_id': 'movie:31', 'title': 'Les bronzés font du ski', 'actors': [{'_id': 'artist:75', 'role': 'Nathalie Morin'}, {'_id': 'artist:76', 'role': 'Christiane'}, {'_id': 'artist:84', 'role': 'Jean-Claude Dus'}, {'_id': 'artist:85', 'role': 'Jérôme'}, {'_id': 'artist:86', 'role': 'Popeye'}]}

In [191]:
#les films apparus en 1979 avec un tri des titres dans l'ordre descendant : 
request_movies_1979 = colection.find({"year" : 1979},{"title": 1, "actors":1}).sort("title", -1)
for item in request_movies_1979 :
    print(item)

{'_id': 'movie:31', 'title': 'Les bronzés font du ski', 'actors': [{'_id': 'artist:75', 'role': 'Nathalie Morin'}, {'_id': 'artist:76', 'role': 'Christiane'}, {'_id': 'artist:84', 'role': 'Jean-Claude Dus'}, {'_id': 'artist:85', 'role': 'Jérôme'}, {'_id': 'artist:86', 'role': 'Popeye'}]}
{'_id': 'movie:2', 'title': 'Alien', 'actors': [{'_id': 'artist:5', 'role': 'Ripley'}]}

In [195]:
#films produits par le director dont l'id est 4 et les afficher de plus récent au moins récent
request_movies_director = colection.find({"director" : {"_id" : "artist:4"}},{"summary": 0, "country": 0, "genre": 0})
for item in request_movies_director :
    print(item)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}
{'_id': 'movie:10', 'title': 'Blade Runner', 'year': 1982, 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:24', 'role': 'Deckard'}, {'_id': 'artist:25', 'role': 'Batty'}]}
{'_id': 'movie:2', 'title': 'Alien', 'year': 1979, 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:5', 'role': 'Ripley'}]}

In [234]:
#Nombre de films produits par le director dont l'id est 4 dont l'un des acteurs a joué le rôle de Maximus
count = colection.find( { "director" : {"_id" : "artist:4"}, "actors" : {"_id": "artist:23", "role": "Maximus"} } ).count()
print(count)

1

<ipython-input-234-8d5f88c355a0>:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count = colection.find( { "director" : {"_id" : "artist:4"}, "actors" : {"_id": "artist:23", "role": "Maximus"} } ).count()

In [235]:
#Les films produits par le director dont l'id est 4 dont l'un des acteurs a joué le rôle de Maximus
maximus = colection.find( {"director" : {"_id" : "artist:4"}, "actors" : {"_id": "artist:23", "role": "Maximus"}}, {"summary": 0, "country": 0, "genre": 0})
for item in maximus :
    print(item)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}

In [251]:
#intervale entre 2000 et 2005 inclus
intervalle = colection.find({"year":{"$gte":2000, "$lte":2005}}, {"title":1, "year":1})
for item in intervalle :
    print(item)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000}
{'_id': 'movie:47', 'title': 'Spider-Man', 'year': 2002}
{'_id': 'movie:49', 'title': 'The Matrix reloaded', 'year': 2003}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions', 'year': 2003}
{'_id': 'movie:62', 'title': 'Stalingrad', 'year': 2001}
{'_id': 'movie:61', 'title': 'Kill Bill', 'year': 2003}
{'_id': 'movie:60', 'title': 'Lost in Translation', 'year': 2003}
{'_id': 'movie:63', 'title': 'Million Dollar Baby', 'year': 2005}
{'_id': 'movie:87', 'title': 'Memento', 'year': 2000}
{'_id': 'movie:88', 'title': 'Batman begins', 'year': 2005}

In [252]:
#intervale entre 2000 et 2005 exclus
intervalle = colection.find({"year":{"$gte":2000, "$lt":2005}}, {"title":1, "year":1})
for item in intervalle :
    print(item)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000}
{'_id': 'movie:47', 'title': 'Spider-Man', 'year': 2002}
{'_id': 'movie:49', 'title': 'The Matrix reloaded', 'year': 2003}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions', 'year': 2003}
{'_id': 'movie:62', 'title': 'Stalingrad', 'year': 2001}
{'_id': 'movie:61', 'title': 'Kill Bill', 'year': 2003}
{'_id': 'movie:60', 'title': 'Lost in Translation', 'year': 2003}
{'_id': 'movie:87', 'title': 'Memento', 'year': 2000}

In [254]:
#les films parus en 1997 ou avec l'acteur id = 147
movies_query = colection.find({"$or": [{"year" : 1997}, {"actors._id" : "artist:147"}]},{"title":1, "year":1, "actors._id":1} )
for item in movies_query :
    print(item)

{'_id': 'movie:5', 'title': 'Volte/Face', 'year': 1997, 'actors': [{'_id': 'artist:11'}, {'_id': 'artist:12'}]}
{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'actors': [{'_id': 'artist:23'}, {'_id': 'artist:147'}, {'_id': 'artist:148'}, {'_id': 'artist:149'}]}
{'_id': 'movie:3', 'title': 'Titanic', 'year': 1997, 'actors': [{'_id': 'artist:109'}, {'_id': 'artist:110'}]}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs', 'year': 1997, 'actors': [{'_id': 'artist:20'}, {'_id': 'artist:21'}, {'_id': 'artist:69'}]}
{'_id': 'movie:28', 'title': 'Le monde perdu', 'year': 1997, 'actors': [{'_id': 'artist:57'}]}
{'_id': 'movie:43', 'title': 'Le cinquième élément', 'year': 1997, 'actors': [{'_id': 'artist:27'}, {'_id': 'artist:112'}, {'_id': 'artist:116'}, {'_id': 'artist:117'}]}
{'_id': 'movie:57', 'title': 'Jackie Brown', 'year': 1997, 'actors': [{'_id': 'artist:167'}, {'_id': 'artist:168'}, {'_id': 'artist:169'}, {'_id': 'artist:170'}, {'_id': 'artist:212'}]}

In [269]:
######"   Opérateurs ensemblistes : in, not in, any, all, exists" 
# Q1 : Combien de films dans lesquels ont joué au moins un des artistes suivants : 34, 98 et 1 
# afficher leur titre et la liste des actors 
# sens du tri : chronologique et alphabétique croissant sur les noms des artistes

q1 = colection.find({"actors._id": {"$in":["artist:34", "artist:98", "artist:1"]}}, {"title":1, "actors.role":1, "year":1}).sort("year",1)
for item in q1 :
    print(item)

{'_id': 'movie:56', 'title': 'Le parrain III', 'year': 1990, 'actors': [{'role': 'Mary Corleone'}, {'role': 'Michael Corleone'}, {'role': 'Kay Adams'}, {'role': 'Vincent Mancini'}]}
{'_id': 'movie:36', 'title': 'Reservoir dogs', 'year': 1992, 'actors': [{'role': 'Mr. Brown'}, {'role': 'Mr. White/Larry'}, {'role': 'Freddy Newendyke/Mr. Orange'}, {'role': 'Nice Guy Eddie'}, {'role': 'Mr Blonde'}, {'role': 'Mr Pink'}, {'role': 'Mr Blue'}]}
{'_id': 'movie:53', 'title': 'Bad Lieutenant', 'year': 1992, 'actors': [{'role': 'Le lieutenant'}]}
{'_id': 'movie:17', 'title': 'Pulp fiction', 'year': 1994, 'actors': [{'role': 'Vincent Vega'}, {'role': 'Butch Coolidge'}, {'role': 'Jimmy Dimmick'}, {'role': 'Jules Winnfield'}, {'role': 'Jody'}, {'role': 'Mia Wallace'}, {'role': 'Capt. Koons'}, {'role': 'Winston "The Wolf" Wolfe'}, {'role': 'Pumpkin (Ringo)'}]}

In [276]:
# Q2 : les films dans lesquels ont joué ensemble les actors 23 et 147 : 
q2 = colection.find({"actors._id": {"$all":["artist:23", "artist:147"]}}, {"title":1, "actors._id":1, "year":1})
for item in q2 :
    print(item)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'actors': [{'_id': 'artist:23'}, {'_id': 'artist:147'}, {'_id': 'artist:148'}, {'_id': 'artist:149'}]}

In [279]:
# Q3 : Combien de films dans lesquels ont joué ni l'acteur 34, ni 98, ni 1 et afficher leur titre et la liste des actors 
# sens du tri : chronologique décroissant et alphabétique croissant sur les titres des films
q3 = colection.find({"actors._id": {"$nin" : ["artist:34", "artist:98", "artist:1"] }}, {"title":1})
for item in q3 :
    print(item)
#comptage de ces films
count = q3.count()
print(count)

{'_id': 'movie:5', 'title': 'Volte/Face'}
{'_id': 'movie:8', 'title': 'Impitoyable'}
{'_id': 'movie:7', 'title': 'American Beauty'}
{'_id': 'movie:9', 'title': 'Gladiator'}
{'_id': 'movie:10', 'title': 'Blade Runner'}
{'_id': 'movie:2', 'title': 'Alien'}
{'_id': 'movie:12', 'title': '58 minutes pour vivre'}
{'_id': 'movie:11', 'title': 'Piège de cristal'}
{'_id': 'movie:3', 'title': 'Titanic'}
{'_id': 'movie:15', 'title': 'Twelve Monkeys'}
{'_id': 'movie:13', 'title': 'Van Gogh'}
{'_id': 'movie:14', 'title': 'Seven'}
{'_id': 'movie:16', 'title': 'Le last_name de la rose'}
{'_id': 'movie:19', 'title': 'Terminator'}
{'_id': 'movie:6', 'title': 'Sleepy Hollow'}
{'_id': 'movie:20', 'title': 'Les dents de la mer'}
{'_id': 'movie:23', 'title': 'Matrix'}
{'_id': 'movie:25', 'title': 'Kagemusha'}
{'_id': 'movie:18', 'title': 'Mary à tout prix'}
{'_id': 'movie:27', 'title': 'Le gendarme et les extra-terrestres'}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs'}
{'_id': 'movie:22', 'title': 'Godzilla'}
{'_id': 'movie:28', 'title': 'Le monde perdu'}
{'_id': 'movie:29', 'title': 'Rain Man'}
{'_id': 'movie:1', 'title': 'Vertigo'}
{'_id': 'movie:4', 'title': 'Sacrifice'}
{'_id': 'movie:30', 'title': 'Top Gun'}
{'_id': 'movie:24', 'title': 'Mission: Impossible'}
{'_id': 'movie:32', 'title': 'Le bon, la brute et le truand'}
{'_id': 'movie:31', 'title': 'Les bronzés font du ski'}
{'_id': 'movie:33', 'title': 'Psychose'}
{'_id': 'movie:38', 'title': 'Shining'}
{'_id': 'movie:35', 'title': 'Les oiseaux'}
{'_id': 'movie:37', 'title': 'Eyes Wide Shut'}
{'_id': 'movie:34', 'title': 'Le retour du Jedi'}
{'_id': 'movie:39', 'title': 'Pas de printemps pour Marnie'}
{'_id': 'movie:21', 'title': 'Le silence des agneaux'}
{'_id': 'movie:40', 'title': 'Fenêtre sur cour'}
{'_id': 'movie:41', 'title': 'La mort aux trousses'}
{'_id': 'movie:42', 'title': "Jeanne d'Arc"}
{'_id': 'movie:44', 'title': 'Léon'}
{'_id': 'movie:43', 'title': 'Le cinquième élément'}
{'_id': 'movie:46', 'title': 'Le grand bleu'}
{'_id': 'movie:45', 'title': 'Nikita'}
{'_id': 'movie:47', 'title': 'Spider-Man'}
{'_id': 'movie:49', 'title': 'The Matrix reloaded'}
{'_id': 'movie:48', 'title': 'King of New York'}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions'}
{'_id': 'movie:54', 'title': 'Le parrain'}
{'_id': 'movie:51', 'title': 'De bruit et de fureur'}
{'_id': 'movie:52', 'title': 'Usual suspects'}
{'_id': 'movie:57', 'title': 'Jackie Brown'}
{'_id': 'movie:59', 'title': 'Sixième sens'}
{'_id': 'movie:62', 'title': 'Stalingrad'}
{'_id': 'movie:64', 'title': 'Pour quelques dollars de plus'}
{'_id': 'movie:67', 'title': 'Marie Antoinette'}
{'_id': 'movie:69', 'title': 'Heat'}
{'_id': 'movie:68', 'title': 'Soleil vert'}
{'_id': 'movie:70', 'title': 'Taxi driver'}
{'_id': 'movie:61', 'title': 'Kill Bill'}
{'_id': 'movie:71', 'title': 'Les affranchis'}
{'_id': 'movie:73', 'title': 'Casino Royale'}
{'_id': 'movie:58', 'title': 'Une journée en enfer'}
{'_id': 'movie:55', 'title': 'Le parrain II'}
{'_id': 'movie:76', 'title': 'No country for old men'}
{'_id': 'movie:74', 'title': 'Skyfall'}
{'_id': 'movie:72', 'title': 'Casino'}
{'_id': 'movie:77', 'title': 'Fargo'}
{'_id': 'movie:60', 'title': 'Lost in Translation'}
{'_id': 'movie:63', 'title': 'Million Dollar Baby'}
{'_id': 'movie:78', 'title': 'Django unchained'}
{'_id': 'movie:79', 'title': 'Inglourious Basterds'}
{'_id': 'movie:81', 'title': 'Les quatre cents coups'}
{'_id': 'movie:84', 'title': 'Rio Grande'}
{'_id': 'movie:80', 'title': 'Inglourious Basterds'}
{'_id': 'movie:85', 'title': 'Interstellar'}
{'_id': 'movie:82', 'title': 'Le dernier métro'}
{'_id': 'movie:86', 'title': 'Inception'}
{'_id': 'movie:87', 'title': 'Memento'}
{'_id': 'movie:88', 'title': 'Batman begins'}
{'_id': 'movie:89', 'title': 'The Dark Knight'}
{'_id': 'movie:90', 'title': 'The Dark Knight Rises'}
{'_id': 'movie:92', 'title': 'Nous trois ou rien'}
{'_id': 'movie:91', 'title': 'Un prophète'}
84

<ipython-input-279-161cb606ea0e>:6: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count = q3.count()

In [295]:
# Q4.1:  films qui n’ont pas d’attribut actors
q4 = colection.find({"actors": {"$exists" : False }}, {"title":1})
for item in q4 :
    print(item)
    
#Comptage : 
count = q4.count()
print(count)

0

<ipython-input-295-3d1a671a2ca2>:7: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count = q4.count()

In [296]:
# Q4.2 : films dont l'attribut actors n'est pas renseigné et les afficher
q5 = colection.find({"actors._id": {"$exists" : False }}, {"title":1})
for item in q5 :
    print(item)
    
#Comptage : 
count = q5.count()
print(count)

{'_id': 'movie:25', 'title': 'Kagemusha'}
{'_id': 'movie:4', 'title': 'Sacrifice'}
{'_id': 'movie:40', 'title': 'Fenêtre sur cour'}
{'_id': 'movie:64', 'title': 'Pour quelques dollars de plus'}
{'_id': 'movie:79', 'title': 'Inglourious Basterds'}
{'_id': 'movie:92', 'title': 'Nous trois ou rien'}
6

<ipython-input-296-8cb9ac38709f>:7: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count = q5.count()

In [306]:
# -> JOINTURES 
# TOUS LES FILMS DONT LE DIRECTEUR EST CLINT EASTWOOD

q_eastwood = colection2.find({"first_name": "Clint", "last_name": "Eastwood"})
for item in q_eastwood :
    print(item)

eastwood =  colection2.find_one({"first_name": "Clint", "last_name": "Eastwood"})
print(eastwood)

q_movies = colection.find({"director._id" : eastwood['_id']}, {"title": 1, "director._id" : 1})
for item in q_movies :
    print(item)

{'_id': 'artist:20', 'last_name': 'Eastwood', 'first_name': 'Clint', 'birth_date': 1930}
{'_id': 'artist:20', 'last_name': 'Eastwood', 'first_name': 'Clint', 'birth_date': 1930}
{'_id': 'movie:8', 'title': 'Impitoyable', 'director': {'_id': 'artist:20'}}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs', 'director': {'_id': 'artist:20'}}
{'_id': 'movie:63', 'title': 'Million Dollar Baby', 'director': {'_id': 'artist:20'}}

In [310]:
# -> Expressions regulieres 
# Tous les films dont le titre commence par 'Re'

q_re = colection.find({"title": {"$regex" : "^Re"} }, {"title":1})
for item in q_re :
    print(item)

{'_id': 'movie:36', 'title': 'Reservoir dogs'}

In [311]:
# Tous les films dont le titre finit par 'la'

q_la = colection.find({"title": {"$regex" : "la$"} }, {"title":1})
for item in q_la :
    print(item)

{'_id': 'movie:22', 'title': 'Godzilla'}

In [317]:
# les films qui ont été joués par l'acteur dont l'id est 147
# afficher en se limitant au titre du film et la liste des acteurs
actor_147 = colection.find({"actors._id": "artist:147" }, {"title":1, "actors": 1})
for item in actor_147 :
    print(item)
    
count  = actor_147.count()
print(count)

{'_id': 'movie:9', 'title': 'Gladiator', 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}
1

<ipython-input-317-fbd73cb26cb9>:7: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count  = actor_147.count()

In [319]:
#Retourner les films joués par l'acteur 147 sans les acteurs et sans le résumé
actor_147 = colection.find({"actors._id": "artist:147" }, {"summary":0, "actors":0})
for item in actor_147 :
    print(item)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'genre': 'drama', 'country': 'USA', 'director': {'_id': 'artist:4'}}

In [51]:
#Les infos sur le film dont le genre est "Science-fiction" et produit en 1979 sans préciser l'_id et le summary
client = MongoClient('mongodb://localhost:27017/')
if client != None:
    print("connection reussie")
    mydb = client["movies_artists"]
    colection = mydb["movies"]
    colection2 = mydb["artists"]
    request_movies_1979 = colection.find({"year" : 1979, "genre" : "Science-fiction" },{"_id" : 0, "summary" : 0}).sort("title", -1)
    for item in request_movies_1979 :
        print(item)
else : 
    print("error de connection ")

connection reussie
{'title': 'Alien', 'year': 1979, 'genre': 'Science-fiction', 'country': 'USA', 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:5', 'role': 'Ripley'}]}