In [136]:
import pymongo
from pymongo import MongoClient

In [137]:
client = MongoClient('mongodb://localhost:27017/')
db = client.db_agg
restaurants = db.restaurants
transaction = db.transaction

print('connexion success')

connexion success

In [97]:
#Q-1. Calculer le montant total des paiements ?
#total_paiements = transaction.aggregate([{"$groupe" : {"_id" : None, "total" : {"$sum" : "Payement.Total"} }}])
pipeline = [{"$group" : {"_id" : "total", "Total" : {"$sum": "$Payment.Total"}}}]
result = transaction.aggregate(pipeline)

myList = list(result)
print(myList)

[{'_id': 'total', 'Total': 1230}]

In [148]:
# Q-2. Calculer le montant total par transactions (montant total du panier) ?
pipeline = {"$group" : {"_id" : "$TransactionId" , "Total" : {"$sum": "$Payment.Total"}}}
unwind = {"$unwind" : "$Panier.price"}
result = transaction.aggregate([pipeline])

myList = list(result)
print(myList)

[{'_id': 'tran4', 'Total': 0}, {'_id': 'tran1', 'Total': 410}, {'_id': 'tran3', 'Total': 410}, {'_id': 'tran2', 'Total': 410}]

In [145]:
#Q-3. Calculate total payments (Payment.Total) for each payment type (Payment.Type) ?
pipeline = [{"$group" : {"_id" : "$Payment.Type" , "Total" : {"$sum": "$Payment.Total"}}}]
result = transaction.aggregate(pipeline)

myList = list(result)
print(myList)

[{'_id': None, 'Total': 0}, {'_id': 'Credit-Card', 'Total': 820}, {'_id': 'Debit-Card', 'Total': 410}]

In [74]:
#Q-4. Trouver l'Id le plus élevé.
pipeline = [{"$group" : {"_id" : "Id" , "MaxId" : {"$max": "$Id"}}}]
result = transaction.aggregate(pipeline)

myList = list(result)
print(myList)

[{'_id': 'Id', 'MaxId': 103}]

In [77]:
#Q-5. Find the max price (Transaction.price) ?
pipeline = [{"$group" : {"_id" : None , "MaxPrice" : {"$max": "$Panier.price"}}}]
result = transaction.aggregate(pipeline)

myList = list(result)
print(myList)

[{'_id': None, 'MaxPrice': [200, 210]}]

In [70]:
#####  AGREGER RESTAURANT #######

In [107]:
# Q : La répartition des restaurants par quartier ?
# Indice : quartier => key 'borough'
repart_resto_borough = { "$group" : {"_id" : "$borough", "nb_restaurant" : {"$sum" : 1}} }
tri = { "$sort" : {"_id" : 1} }

myList = list(restaurants.aggregate([ repart_resto_borough, tri ]))
print(myList)

[{'_id': 'Bronx', 'nb_restaurant': 2338}, {'_id': 'Brooklyn', 'nb_restaurant': 6085}, {'_id': 'Manhattan', 'nb_restaurant': 10258}, {'_id': 'Missing', 'nb_restaurant': 51}, {'_id': 'Queens', 'nb_restaurant': 5656}, {'_id': 'Staten Island', 'nb_restaurant': 969}]

In [117]:
# Q : La répartition des restaurants dont la dernière inspection a donné un grade "C" par quartier ?
# Indice : la dernière inspection : la plus récente, donc la première de la liste !
# key : "grade"
repart_resto_borough = { "$group" : {"_id" : "$borough", "nb_restaurant" : {"$sum" : 1}} }
match_C = { "$match" : { "grades.grade" : "C"}}
proj = {"$project" : {"name":1, "borough":1, "_id":0 } }
tri = { "$sort" : {"_id" : 1} }

myList = list(restaurants.aggregate([match_C, proj,repart_resto_borough, tri]))
print(myList)

[{'_id': 'Bronx', 'nb_restaurant': 249}, {'_id': 'Brooklyn', 'nb_restaurant': 687}, {'_id': 'Manhattan', 'nb_restaurant': 1124}, {'_id': 'Missing', 'nb_restaurant': 2}, {'_id': 'Queens', 'nb_restaurant': 571}, {'_id': 'Staten Island', 'nb_restaurant': 75}]

In [87]:
restaurants.find_one()

{'_id': ObjectId('600ffbf247ced83a102ed40b'),
 'address': {'building': '351',
  'coord': {'type': 'Point', 'coordinates': [-73.98513559999999, 40.7676919]},
  'street': 'West   57 Street',
  'zipcode': '10019'},
 'borough': 'Manhattan',
 'cuisine': 'Irish',
 'grades': [{'date': datetime.datetime(2014, 9, 6, 0, 0),
   'grade': 'A',
   'score': 2},
  {'date': datetime.datetime(2013, 7, 22, 0, 0), 'grade': 'A', 'score': 11},
  {'date': datetime.datetime(2012, 7, 31, 0, 0), 'grade': 'A', 'score': 12},
  {'date': datetime.datetime(2011, 12, 29, 0, 0), 'grade': 'A', 'score': 12}],
 'name': 'Dj Reynolds Pub And Restaurant',
 'restaurant_id': '30191841'}

In [143]:
# Q : Calculer le score moyen des resto par quartier et trier par score décroissant ?
# Indice : utiliser l'opérateur unwid
repart_resto_borough = { "$group" : {"_id" : "$borough", "moyenne" : {"$avg" : "$grades.score"}} }
tri = { "$sort" : {"_id" : 1} }
unwind = {"$unwind" : "$grades.score"}

myList = list(restaurants.aggregate([unwind]))
print(myList)

[]